# 1
# 1/Activities
# 1/Activities/01-Ins_hvPlot_Demo
# 1/Activities/01-Ins_hvPlot_Demo/Solved
# 1/Activities/02-Stu_Plotting_Visual_Takeover
# 1/Activities/02-Stu_Plotting_Visual_Takeover/Solved
# 1/Activities/02-Stu_Plotting_Visual_Takeover/Solved/Challenge
# 1/Activities/02-Stu_Plotting_Visual_Takeover/Solved/Core
# 1/Activities/03-Ins_hvPlot_Widgets
# 1/Activities/03-Ins_hvPlot_Widgets/Solved
# 1/Activities/04-Stu_hvPlot_Widgets
# 1/Activities/04-Stu_hvPlot_Widgets/Images
# 1/Activities/04-Stu_hvPlot_Widgets/Solved
# 1/Activities/05-Ins_Composing_Plots
# 1/Activities/05-Ins_Composing_Plots/Solved
# 1/Activities/06-Stu_Composing_Masterpieces
# 1/Activities/06-Stu_Composing_Masterpieces/Solved
# 1/Activities/07-Ins_Viz_Options
# 1/Activities/07-Ins_Viz_Options/Solved
# 1/Activities/08-Stu_Picture_Perfect
# 1/Activities/08-Stu_Picture_Perfect/Solved
# 1/Activities/08-Stu_Picture_Perfect/Solved/Challenge
# 1/Activities/08-Stu_Picture_Perfect/Solved/Core
1/Images
# 2
# 2/Activities
# 2/Activities/01-Ins_Plotly_Exp_Demo
# 2/Activities/01-Ins_Plotly_Exp_Demo/Solved
# 2/Activities/02-Stu_Plotting_w_Plotly
# 2/Activities/02-Stu_Plotting_w_Plotly/Images
# 2/Activities/02-Stu_Plotting_w_Plotly/Solved
# 2/Activities/02-Stu_Plotting_w_Plotly/Solved/Challenge
# 2/Activities/02-Stu_Plotting_w_Plotly/Solved/Core
# 2/Activities/03-Ins_Parallel_Coordinate
# 2/Activities/03-Ins_Parallel_Coordinate/Solved
# 2/Activities/04-Stu_Parallel_Coordinates
# 2/Activities/04-Stu_Parallel_Coordinates/Images
# 2/Activities/04-Stu_Parallel_Coordinates/Solved
# 2/Activities/04-Stu_Parallel_Coordinates/Solved/Challenge
# 2/Activities/04-Stu_Parallel_Coordinates/Solved/Core
# 2/Activities/05-Ins_Parallel_Categories
# 2/Activities/05-Ins_Parallel_Categories/Solved
# 2/Activities/06-Stu_Categorical_Evaluation
# 2/Activities/06-Stu_Categorical_Evaluation/Solved
# 2/Activities/07-Ins_Mapbox_Demo
# 2/Activities/07-Ins_Mapbox_Demo/Solved
# 2/Activities/08-Stu_Mapping_Adventures
# 2/Activities/08-Stu_Mapping_Adventures/Solved
# 2/Activities/08-Stu_Mapping_Adventures/Solved/Challenge
# 2/Activities/08-Stu_Mapping_Adventures/Solved/Core
# 2/Activities/09-Stu_Cartographers_Expedition
# 2/Activities/09-Stu_Cartographers_Expedition/Solved
2/Images
# 3
# 3/Activities
# 3/Activities/01-Ins_Getting_Started_Panel
# 3/Activities/01-Ins_Getting_Started_Panel/Solved
# 3/Activities/02-Ins_Dashboard_Components
# 3/Activities/02-Ins_Dashboard_Components/Solved
# 3/Activities/03-Stu_Dashboard_Components
# 3/Activities/03-Stu_Dashboard_Components/Solved
# 3/Activities/04-Ins_Dashboard_Components_Panels
# 3/Activities/04-Ins_Dashboard_Components_Panels/Solved
# 3/Activities/05-Stu_Dashboard_Panels
# 3/Activities/05-Stu_Dashboard_Panels/Solved
# 3/Activities/06-Stu_Panel_Extensions
# 3/Activities/06-Stu_Panel_Extensions/Solved
# 3/Activities/07-Ins_Dashboard_Webapps
# 3/Activities/07-Ins_Dashboard_Webapps/Solved
# 3/Activities/08-Stu_Dashboard_Webapps
# 3/Activities/08-Stu_Dashboard_Webapps/Solved
3/Images
