# Activities
# Activities/01-Stu_Trading_Functions
# Activities/01-Stu_Trading_Functions/Solved
# Activities/02-Evr_Algo_Trading_Framework
# Activities/02-Evr_Algo_Trading_Framework/Solved
# Activities/03-Ins_Going_Live
# Activities/03-Ins_Going_Live/Solved
# Activities/04-Evr_Going_Live
# Activities/04-Evr_Going_Live/Solved
# Activities/05-Ins_Asyncio
# Activities/05-Ins_Asyncio/Solved
# Activities/06_Evr_Async_Trading
# Activities/06_Evr_Async_Trading/Solved
# Activities/07-Evr_Persisting_Real_Time_Data
# Activities/07-Evr_Persisting_Real_Time_Data/Solved
# Activities/08-Ins_Streaming
# Activities/08-Ins_Streaming/Solved
# Activities/09-Evr_Streaming_Dashboard
# Activities/09-Evr_Streaming_Dashboard/Solved
