# 1
# 1/Activities
# 1/Activities/01-Stu_Eavesdropping_On_Server
# 1/Activities/01-Stu_Eavesdropping_On_Server/Images
# 1/Activities/01-Stu_Eavesdropping_On_Server/Solved
# 1/Activities/02-Stu_I_Spy_An_Api
# 1/Activities/02-Stu_I_Spy_An_Api/Images
# 1/Activities/02-Stu_I_Spy_An_Api/Solved
# 1/Activities/03-Stu_Parlez_Vous_Le_Json
# 1/Activities/03-Stu_Parlez_Vous_Le_Json/Solved
# 1/Activities/04-Ins_Python_Requests
# 1/Activities/04-Ins_Python_Requests/Solved
# 1/Activities/05-Stu_Ice_Breakers_on_Request
# 1/Activities/05-Stu_Ice_Breakers_on_Request/Solved
# 1/Activities/06-Ins_URL_Parameters
# 1/Activities/06-Ins_URL_Parameters/Solved
# 1/Activities/07-Stu_House_of_Requests
# 1/Activities/07-Stu_House_of_Requests/Solved
1/Images
# 2
# 2/Activities
# 2/Activities/01-Ins_Create_Env_Variables
# 2/Activities/01-Ins_Create_Env_Variables/Solved
# 2/Activities/02-Ins_Call_Env_Variables
# 2/Activities/02-Ins_Call_Env_Variables/Solved
# 2/Activities/04-Ins_Plaid_Demo
# 2/Activities/04-Ins_Plaid_Demo/Solved
# 2/Activities/05-Stu_Sporting_Plaid_Pt_1
# 2/Activities/05-Stu_Sporting_Plaid_Pt_1/Solved
# 2/Activities/05-Stu_Sporting_Plaid_Pt_1/Solved/Challenge
# 2/Activities/05-Stu_Sporting_Plaid_Pt_1/Solved/Core
# 2/Activities/06-Stu_Sporting_Plaid_Pt_2
# 2/Activities/06-Stu_Sporting_Plaid_Pt_2/Solved
2/Images
# 3
# 3/Activities
# 3/Activities/01-Ins_Probability_Distributions_of_Potential_Outcomes
# 3/Activities/01-Ins_Probability_Distributions_of_Potential_Outcomes/Solved
# 3/Activities/02-Stu_Probability_Distribution_of_Potential_Outcomes
# 3/Activities/02-Stu_Probability_Distribution_of_Potential_Outcomes/Solved
# 3/Activities/03-Ins_Confidence_Intervals
# 3/Activities/03-Ins_Confidence_Intervals/Solved
# 3/Activities/04-Stu_Confidence_Intervals
# 3/Activities/04-Stu_Confidence_Intervals/Solved
# 3/Activities/05-Ins_Simulation_of_Stock_Price_Trajectory
# 3/Activities/05-Ins_Simulation_of_Stock_Price_Trajectory/Solved
# 3/Activities/06-Stu_Financial_Forecasting_Pt_I
# 3/Activities/06-Stu_Financial_Forecasting_Pt_I/Solved
# 3/Activities/07-Ins_Predicting_Probable_Outcomes_of_Stock_Price_Trajectory
# 3/Activities/07-Ins_Predicting_Probable_Outcomes_of_Stock_Price_Trajectory/Solved
# 3/Activities/08-Stu_Financial_Forecasting_Pt_II
# 3/Activities/08-Stu_Financial_Forecasting_Pt_II/Solved
# 3/Activities/09-Ins_Portfolio_Forecasting
# 3/Activities/09-Ins_Portfolio_Forecasting/Solved
# 3/Activities/10-Stu_Financial_Forecasting_Pt_III
# 3/Activities/10-Stu_Financial_Forecasting_Pt_III/Solved
# 3/Images
