# 1/Activities
# 1/Activities/01-Ins_Time_Series_Basics
# 1/Activities/01-Ins_Time_Series_Basics/Solved
# 1/Activities/01-Ins_Time_Series_Basics/Unsolved
# 1/Activities/02-Stu_Time_Series_Basics
# 1/Activities/02-Stu_Time_Series_Basics/Solved
# 1/Activities/02-Stu_Time_Series_Basics/Unsolved
# 1/Activities/03-Ins_Decomposition
# 1/Activities/03-Ins_Decomposition/Solved
# 1/Activities/04-Ins_Hodrick_Prescott
# 1/Activities/04-Ins_Hodrick_Prescott/Solved
# # 1/Activities/05-Stu_Hodrick_Prescott
# 1/Activities/05-Stu_Hodrick_Prescott/Solved
# 1/Activities/06-Ins_Auto_Correlation
# 1/Activities/06-Ins_Auto_Correlation/Solved
# 1/Activities/07-Stu_ETF
# 1/Activities/07-Stu_ETF/Solved
# 2/Activities
# 2/Activities/01-Ins_Stationarity
# 2/Activities/01-Ins_Stationarity/Solved
# 2/Activities/02-Stu_Stationarity
# 2/Activities/02-Stu_Stationarity/Solved
# 2/Activities/03-Ins_ARMA
# 2/Activities/03-Ins_ARMA/Solved
# 2/Activities/04-Stu_Yields
# 2/Activities/04-Stu_Yields/Solved
# 2/Activities/05-Ins_ARIMA 
# 2/Activities/05-Ins_ARIMA/Solved
# 2/Activities/06-Stu_ARIMA_Leg
# 2/Activities/06-Stu_ARIMA_Leg/Solved
# 2/Activities/07-Ins_GARCH
# 2/Activities/07-Ins_GARCH/Solved
# 2/Activities/08-Stu_USD
# 2/Activities/08-Stu_USD/Solved
# 3/Activities
# 3/Activities/01-Ins_Linear_Regression
# 3/Activities/01-Ins_Linear_Regression/Solved
# 3/Activities/02-Stu_House_Regression
# 3/Activities/02-Stu_House_Regression/Solved
# 3/Activities/03-Ins_Time_Series_Linear_Regression
# 3/Activities/03-Ins_Time_Series_Linear_Regression/Solved
# 3/Activities/04-Stu_Time_Series_Linear_Regression
# 3/Activities/04-Stu_Time_Series_Linear_Regression/Solved
# 3/Activities/05-Ins_Train_Test
# 3/Activities/05-Ins_Train_Test/Solved
# 3/Activities/06-Stu_Ripple
# 3/Activities/06-Stu_Ripple/Solved
# 3/Activities/07-Ins_Rolling_Out_of_Sample
# 3/Activities/07-Ins_Rolling_Out_of_Sample/Solved
# 3/Activities/08-Stu_Rolled_Gold
# 3/Activities/08-Stu_Rolled_Gold/Solved
