# Activities/01-Evr_Simple_Trading_Algorithm
# Activities/01-Evr_Simple_Trading_Algorithm/Solved
# Activities/02-Ins_Trading_Signals
# Activities/02-Ins_Trading_Signals/Solved
# Activities/03-Stu_Trading_Signals
# Activities/03-Stu_Trading_Signals/Solved
# Activities/04-Ins_Backtesting
# Activities/04-Ins_Backtesting/Solved
# Activities/05-Stu_Backtesting
# Activities/05-Stu_Backtesting/Solved
# Activities/06-Ins_Evaluations
# Activities/06-Ins_Evaluations/Solved
# Activities/07-Stu_Evaluations
# Activities/07-Stu_Evaluations/Solved
# Activities/08-Ins_Trading_Dashboard
# Activities/08-Ins_Trading_Dashboard/Solved
