1/Images
# 1/Activities
# 1/Activities/01-Ins_Tokenization
# 1/Activities/01-Ins_Tokenization/Solved
# 1/Activities/02-Stu_Tokenizing_Reuters
# 1/Activities/02-Stu_Tokenizing_Reuters/Solved
# 1/Activities/03-Ins_Stopwords
# 1/Activities/03-Ins_Stopwords/Solved
# 1/Activities/04-Stu_Crude_Stopwords
# 1/Activities/04-Stu_Crude_Stopwords/Solved
# 1/Activities/05-Ins_Lemmatization
# 1/Activities/05-Ins_Lemmatization/Solved
# 1/Activities/06-Stu_Lemmatize
# 1/Activities/06-Stu_Lemmatize/Solved
# 1/Activities/07-Ins_Ngram_Count
# 1/Activities/07-Ins_Ngram_Count/Solved
# 1/Activities/08-Stu_Counter
# 1/Activities/08-Stu_Counter/Solved
# 1/Activities/09-Ins_Word_Cloud
# 1/Activities/09-Ins_Word_Cloud/Solved
# 1/Activities/10-Stu_Gas_Cloud
# 1/Activities/10-Stu_Gas_Cloud/Solved
2/Images
# 2/Activities
# 2/Activities/03-Ins_Terms_Relevance
# 2/Activities/03-Ins_Terms_Relevance/Solved
# 2/Activities/04-Stu_Bossy_Words
# 2/Activities/04-Stu_Bossy_Words/Solved
# 2/Activities/06-Ins_Sentiment_Analysis_Data
# 2/Activities/06-Ins_Sentiment_Analysis_Data/Solved
# 2/Activities/07-Stu_Crisis_Voice
# 2/Activities/07-Stu_Crisis_Voice/Solved
# 2/Activities/09-Ins_Vader_Sentiment
# 2/Activities/09-Ins_Vader_Sentiment/Solved
# 2/Activities/11-Stu_Crisis_Feelings
# 2/Activities/11-Stu_Crisis_Feelings/Solved
# 2/Activities/13-Ins_Tone_Analysis
# 2/Activities/13-Ins_Tone_Analysis/Solved
3/Images
# 3/Activities
# 3/Activities/01-Ins_POS_Tagging
# 3/Activities/01-Ins_POS_Tagging/Solved
# 3/Activities/02-Stu_Describing_America
# 3/Activities/02-Stu_Describing_America/Solved
# 3/Activities/03-Ins_NER
# 3/Activities/03-Ins_NER/Solved
# 3/Activities/04-Stu_NER_Clouds
# 3/Activities/04-Stu_NER_Clouds/Solved
# 3/Activities/05-Ins_Text_As_Feature
# 3/Activities/06-Stu_Correlating_Returns
# 3/Activities/06-Stu_Correlating_Returns/Solved
# 3/Activities/14-Stu_Sentiment_Dashboard
# 3/Activities/14-Stu_Sentiment_Dashboard/Solved
