# 1
# 1/Activities
# 1/Activities/01-Ins_Logistic_Regression
# 1/Activities/01-Ins_Logistic_Regression/Solved
# 1/Activities/02-Stu_Diabetes
# 1/Activities/02-Stu_Diabetes/Solved
# 1/Activities/03-Ins_Confusion_Matrices
# 1/Activities/03-Ins_Confusion_Matrices/Solved
# 1/Activities/04-Stu_Diagnosing_the_Model
# 1/Activities/04-Stu_Diagnosing_the_Model/Solved
# 1/Activities/05-Stu_Loan_Approver
# 1/Activities/05-Stu_Loan_Approver/Solved
# 1/Activities/06-Ins_SVM
# 1/Activities/06-Ins_SVM/Solved
# 1/Activities/07-Stu-SVM_Loan_Approver
# 1/Activities/07-Stu-SVM_Loan_Approver/Images
# 1/Activities/07-Stu-SVM_Loan_Approver/Solved
1/Images
# 2
# 2/Activities
# 2/Activities/01-Ins-Categorical-Data
# 2/Activities/01-Ins-Categorical-Data/Solved
# 2/Activities/02-Stu_Categorical_Data
# 2/Activities/02-Stu_Categorical_Data/Solved
# 2/Activities/03-Ins_Decision-Trees
# 2/Activities/03-Ins_Decision-Trees/Solved
# 2/Activities/04-Stu_Predicting_Fraud
# 2/Activities/04-Stu_Predicting_Fraud/Solved
# 2/Activities/05-Ins_Random_Forest
# 2/Activities/05-Ins_Random_Forest/Solved
# 2/Activities/06-Stu_Random_Forest
# 2/Activities/06-Stu_Random_Forest/Solved
# 2/Activities/07-Ins_Gradient_Boosted_Tree
# 2/Activities/07-Ins_Gradient_Boosted_Tree/Solved
# 2/Activities/08-Stu_Gradient_Boosted_Tree
# 2/Activities/08-Stu_Gradient_Boosted_Tree/Solved
2/Images
# 3
# 3/Activities
# 3/Activities/01-Ins_Review_Eval_Metrics
# 3/Activities/01-Ins_Review_Eval_Metrics/Solved
# 3/Activities/02-Stu_Do_Hypothetical_Models
# 3/Activities/03-Ins_Do_Oversampling
# 3/Activities/03-Ins_Do_Oversampling/Solved
# 3/Activities/04-Stu_Do_More_Loans
# 3/Activities/04-Stu_Do_More_Loans/Solved
# 3/Activities/06-Ins_Do_Combination_Sampling
# 3/Activities/06-Ins_Do_Combination_Sampling/Solved
# 3/Activities/07-Stu_Do_Combination_Sampling
# 3/Activities/07-Stu_Do_Combination_Sampling/Solved
# 3/Activities/08-Ins_Do_Precision_Recall_Curve
# 3/Activities/08-Ins_Do_Precision_Recall_Curve/Solved
# 3/Activities/09-Stu_Do_Credit_Card_Fraud
# 3/Activities/09-Stu_Do_Credit_Card_Fraud/Solved
3/Images
