1/Images
# 1/Activities
# 1/Activities/01-Evr_Keras_Intro
# 1/Activities/01-Evr_Keras_Intro/Solved
# 1/Activities/02-Ins_Connecting_Neurons
# 1/Activities/02-Ins_Connecting_Neurons/Solved
# 1/Activities/03-Stu_CC_Default
# 1/Activities/03-Stu_CC_Default/Solved
# 1/Activities/04-Ins_Preparing_Data
# 1/Activities/04-Ins_Preparing_Data/Solved
# 1/Activities/05-Stu_Smartphone
# 1/Activities/05-Stu_Smartphone/Solved
2/Images
# 2/Activities
# 2/Activities/01-Ins_Deep_Learning
# 2/Activities/01-Ins_Deep_Learning/Solved
# 2/Activities/02-Stu_Sound_of_Music
# 2/Activities/02-Stu_Sound_of_Music/Solved
# 2/Activities/03-Ins_Model_Persistence
# 2/Activities/03-Ins_Model_Persistence/Solved
# 2/Activities/04-Stu_After_Training
# 2/Activities/04-Stu_After_Training/Solved
# 2/Activities/05-Evr_Colab
# 2/Activities/05-Evr_Colab/Solved
# 2/Activities/06-Stu_Colab
3/Images
# 3/Activities
# 3/Activities/01-Evr_RNN_Part_1
# 3/Activities/01-Evr_RNN_Part_1/Solved
# 3/Activities/02-Evr_RNN_Part_2
# 3/Activities/02-Evr_RNN_Part_2/Solved
# 3/Activities/03-Evr_RNN_Part_3
# 3/Activities/03-Evr_RNN_Part_3/Solved
