# 1
# 1/Activities
# 1/Activities/01-Ins_Correlation
# 1/Activities/01-Ins_Correlation/Solved
# 1/Activities/02-Stu_Correlation
# 1/Activities/02-Stu_Correlation/Solved
# 1/Activities/03-Ins_Rolling_Statistics
# 1/Activities/03-Ins_Rolling_Statistics/Solved
# 1/Activities/04-Stu_Rolling_Statistics
# 1/Activities/04-Stu_Rolling_Statistics/Solved
# 1/Activities/05-Ins_Beta
# 1/Activities/05-Ins_Beta/Solved
# 1/Activities/06-Stu_Beta
# 1/Activities/06-Stu_Beta/Solved
# 1/Activities/07-Ins_Portfolio_Returns
# 1/Activities/07-Ins_Portfolio_Returns/Solved
# 1/Activities/08-Stu_Portfolio_Planner_Part_I
# 1/Activities/08-Stu_Portfolio_Planner_Part_I/Solved
# 1/Activities/09-Stu_Portfolio_Planner_Part_II
# 1/Activities/09-Stu_Portfolio_Planner_Part_II/Solved
1/Images
# 2
# 2/Activities
# 2/Activities/01-csv-functions
# 2/Activities/02-stock-data
# 2/Activities/02-stock-data/Data
# 2/Activities/03-game-of-pandas
# 2/Activities/03-game-of-pandas/Solved
# 2/Activities/04-world-happiness
# 2/Activities/04-world-happiness/Solved
# 2/Activities/05-stock-data-returns
# 2/Activities/05-stock-data-returns/Data
# 2/Activities/06-pokemon
# 3
# 3/Activities
# 3/Activities/01-Ins_Problem_Solving_Guidelines
# 3/Activities/01-Ins_Problem_Solving_Guidelines/Solved
# 3/Activities/02-Ins_Intro_to_Partner_Interviews
# 3/Activities/02-Ins_Intro_to_Partner_Interviews/Solved
# 3/Activities/03-Stu_Partner_Interviews
# 3/Activities/03-Stu_Partner_Interviews/Solved
# 3/Activities/03-Stu_Partner_Interviews/Solved/buy_low_sell_high
# 3/Activities/03-Stu_Partner_Interviews/Solved/buy_low_sell_high/Solved
# 3/Activities/03-Stu_Partner_Interviews/Solved/counting_letters
# 3/Activities/03-Stu_Partner_Interviews/Solved/counting_letters/Solved
# 3/Activities/03-Stu_Partner_Interviews/Solved/deep_equals
# 3/Activities/03-Stu_Partner_Interviews/Solved/deep_equals/Solved
# 3/Activities/03-Stu_Partner_Interviews/Solved/fizz_buzz
# 3/Activities/03-Stu_Partner_Interviews/Solved/fizz_buzz/Solutions
# 3/Activities/03-Stu_Partner_Interviews/Solved/highest_product_of_two
# 3/Activities/03-Stu_Partner_Interviews/Solved/highest_product_of_two/Solved
# 3/Activities/03-Stu_Partner_Interviews/Solved/maximin
# 3/Activities/03-Stu_Partner_Interviews/Solved/maximin/Solved
# 3/Activities/03-Stu_Partner_Interviews/Solved/most_frequent_element
# 3/Activities/03-Stu_Partner_Interviews/Solved/most_frequent_element/Solved
# 3/Activities/03-Stu_Partner_Interviews/Solved/palindrome
# 3/Activities/03-Stu_Partner_Interviews/Solved/palindrome/Solved
# 3/Activities/03-Stu_Partner_Interviews/Solved/pig_latinize
# 3/Activities/03-Stu_Partner_Interviews/Solved/pig_latinize/Solved
3/Images
